body {
  margin: 0;
  min-height: 100vh;
  min-width: none;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.header,
.hero {
  background-color: #1F2937;
}

.header {
  display: flex;
  padding: 0px 160px 40px 160px;
}

.header-logo,
.right-links {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.header-logo {
  justify-content: flex-start;
  font-size: 24px;
  color: #F9FAF8;
}

.right-links {
  justify-content: flex-end;
  gap: 16px;
  font-size: 18px;
}

.hero {
  display: flex;
  flex-direction: row;
  flex: 0 0 1;
  padding: 0px 160px 90px 160px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  width: 50%;
}

.hero-main,
.hero-secondary {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
}

.hero-main {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.hero-img-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.signup {
  display: flex;
  justify-content: center;
  background-color: #3882F6;
  color: #E5E7EB;
  width: fit-content;
  flex: 0 0 1;
  padding: 5px 20px;
  border-radius: 6px;
}

.hero-btn.signup {
  border-style: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.info-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.content-img {
  border-radius: 10px;
  max-width: 200px;
  padding: 0px;
}

.content-captions {
  display: table;
  margin: 0px 20px;
}

.figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 5px;
  text-align: center;
}