body {
  margin: 0;
  min-height: 100vh;
  min-width: none;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

button {
  border-style: solid;
  border-color: #E5E7EB;
  font-family: Roboto, sans-serif;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding: 0px 60px 90px 60px;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 1150px;
  width: 100%;
}

.logo,
.right-links {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.logo {
  justify-content: flex-start;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.right-links {
  justify-content: flex-end;
  gap: 16px;
  font-size: 18px;
}

.hero-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1150px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  flex: 1;
}

.hero-main,
.hero-secondary {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.hero-img-container {
  display: flex;
  flex: 1;
}

.signup {
  display: flex;
  justify-content: center;
  background-color: #3882F6;
  color: #E5E7EB;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 6px;
}

.hero-btn.signup {
  border-style: none;
}

.content {
  display: flex;
  flex-direction: column;
}

.info-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900; 
  color: #1F2937;
  padding: 30px;
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.content-img {
  border-radius: 10px;
  max-width: 200px;
  padding: 0px;
  display: block;
}

.content-captions {
  display: table;
  margin: 0px 20px 20px 20px;
}

.figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 5px;
  text-align: center;
}

.quotes {
  display: flex;
  background-color: #E5E7EB;
  padding: 60px;
  justify-content: center;
}

.quote-set {
  width: 850px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}

.writer {
  margin: 0;
  text-align: end;
  font-weight: bold;
}

.action-container {
  padding: 60px 150px;
  display: flex;
  justify-content: center;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3882F6;
  border-radius: 10px;
  padding: 30px 50px;
  margin: 0;
  color: #E5E7EB;
  font-size: 16px;
  justify-content: space-between;
  width: max-content;
}

.call-header {
  font-size: 20px;
}

.call {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}